<ion-card>
    <ion-card-header>Intro</ion-card-header>
    <ion-card-content>
        <div *ngIf="!company.profile.ticker">
            Somthing
        </div>
        <div *ngIf="company.profile.ticker">
                <div>{{company.profile.ticker}}</div>
                <div>{{company.prices.price}}</div>
                <div>{{company.profile.name}}</div>
                <div>{{company.profile.sector}}</div>
                <div>{{company.profile.industry}}</div>
        </div>

        <!-- Card Footer -->
        <!-- =========== -->
        <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="danger" icon-start>
                    <ion-icon name='paper'></ion-icon>
                    More Details
                </button>
            </ion-col>
            <ion-col text-center></ion-col>
            <ion-col text-right>
                <button ion-button clear small color="danger" icon-start>
                    <ion-icon name='share-alt'></ion-icon>
                    Share
                </button>
            </ion-col>
        </ion-row>
        
    </ion-card-content>
</ion-card>