<ion-card>
    <!-- <ion-card-header>Intro</ion-card-header> -->
    <ion-card-content>
        <div *ngIf="!company.profile.ticker">
            Somthing
        </div>
        <div *ngIf="company.profile.ticker">
                <ion-list>
                    <ion-list-header>
                        {{company.profile.ticker}}
                        <ion-badge item-end color="light">${{company.prices.price}}</ion-badge>
                    </ion-list-header>
                    <ion-item>
                        <!-- <ion-col> -->
                            <div>{{company.profile.name}}</div>
                            <div>{{company.profile.industry}}</div>
                            <div>{{company.profile.sector}}</div>
                        <!-- </ion-col> -->
                    </ion-item>
                    <ion-item>
                        <div  class="chart-container">
                            <canvas id="polarArea"></canvas>
                        </div>
                    </ion-item>
                </ion-list>
        </div>

        <!-- Card Footer -->
        <!-- =========== -->
        <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="danger" icon-start>
                    <ion-icon name='paper'></ion-icon>
                    More Details
                </button>
            </ion-col>
            <ion-col text-center></ion-col>
            <ion-col text-right>
                <button ion-button clear small color="danger" icon-start>
                    <ion-icon name='share-alt'></ion-icon>
                    Share
                </button>
            </ion-col>
        </ion-row>
        
    </ion-card-content>
</ion-card>