<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Market</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <h2 *ngIf="user.name">Welcome {{ user.name }}!</h2>
  <ion-note *ngIf="reportDate">Market data for {{reportDate}}.</ion-note>

  <div padding>
    <ion-segment mode="ios" [(ngModel)]="trades">
      <ion-segment-button value="gainers"> Gainers </ion-segment-button>
      <ion-segment-button value="losers"> Losers </ion-segment-button>
      <ion-segment-button value="active"> Active </ion-segment-button>
    </ion-segment>
  </div>

  <div class="trades" [ngSwitch]="trades">
    <ion-list *ngSwitchCase="'gainers'" no-lines>
        <ion-list-header mode="ios">
          <ion-row>
            <ion-col align="center" left>Ticker</ion-col>
            <ion-col align="center" center>Close</ion-col>
            <ion-col align="center" right>Change</ion-col>
          </ion-row>  
        </ion-list-header>
        <ion-item *ngFor="let data of dailyData.mostBought" (click)="loadCompany(data.ticker)">
            <ion-row>
              <ion-col align="center" left>{{data.ticker}}</ion-col>
              <ion-col align="center" center>{{data.close}}</ion-col>
              <ion-col align="center" right>
                  <span class="{{data.color}}">
                      {{data.change}}%
                  </span>
              </ion-col>
            </ion-row> 
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'losers'" no-lines>
      <ion-list-header mode="ios">
        <ion-row>
          <ion-col align="center" left>Ticker</ion-col>
          <ion-col align="center" center>Close</ion-col>
          <ion-col align="center" right>Change</ion-col>
        </ion-row>  
      </ion-list-header> 
      <ion-item *ngFor="let data of dailyData.mostSold" (click)="loadCompany(data.ticker)">
          <ion-row>
            <ion-col align="center" left>{{data.ticker}}</ion-col>
            <ion-col align="center" center>{{data.close}}</ion-col>
            <ion-col align="center" right>
                <span class="{{data.color}}">
                    {{data.change}}%
                </span>
            </ion-col>
          </ion-row> 
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'active'" no-lines>
      <ion-list-header mode="ios">
        <ion-row>
          <ion-col align="center" left>Ticker</ion-col>
          <ion-col align="center" center>Close</ion-col>
          <ion-col align="center" right>Change</ion-col>
        </ion-row>  
      </ion-list-header>
      <ion-item *ngFor="let data of dailyData.mostTraded" (click)="loadCompany(data.ticker)">
          <ion-row>
            <ion-col align="center" left>{{data.ticker}}</ion-col>
            <ion-col align="center" center>{{data.close}}</ion-col>
            <ion-col align="center" right>
                <span class="{{data.color}}">
                    {{data.change}}%
                </span>
            </ion-col>
          </ion-row>   
      </ion-item>
    </ion-list>

  </div>

  <market-movement-section></market-movement-section>
  <sectors-section></sectors-section>
  
  <ion-row>
    <ion-col align="center">
        <button ion-button clear icon-left (click)="goToIndustry()">
          <ion-icon name="information-circle"></ion-icon>
          Industry Details
        </button>
    </ion-col>
  </ion-row>
  
</ion-content>