page-market {
    .article-content {
        height:100%;
    }

    .trades .item-inner {
        height: 45px;
    } 

    .sectors .col{
        padding: 0 5px;
    }

    .sectors .item-inner {
        height: 45px;
    }

    .range-wp {
        padding: 0px;
    }

    .market-movement {
        .col {
            padding: 0px;
        }
    }
}
