<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Market</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <h2 *ngIf="user.first">Welcome {{ user.first }}!</h2>

  <div padding>
    <ion-segment mode="ios" [(ngModel)]="trades">
      <ion-segment-button value="gainers"> Gainers </ion-segment-button>
      <ion-segment-button value="losers"> Losers </ion-segment-button>
      <ion-segment-button value="active"> Active </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="trades">
    <ion-list *ngSwitchCase="'gainers'">
        <ion-list-header mode="ios">
          <ion-row>
            <ion-col left>Ticker</ion-col>
            <ion-col center>Close</ion-col>
            <ion-col right>Change</ion-col>
          </ion-row>  
        </ion-list-header>
        <ion-item *ngFor="let data of dailyData.mostBought" (click)="loadCompany(data.ticker)">
            <ion-row>
              <ion-col left>{{data.ticker}}</ion-col>
              <ion-col center>{{data.close}}</ion-col>
              <ion-col right>{{data.change}}%</ion-col>
            </ion-row> 
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'losers'">
      <ion-list-header mode="ios">
        <ion-row>
          <ion-col left>Ticker</ion-col>
          <ion-col center>Close</ion-col>
          <ion-col right>Change</ion-col>
        </ion-row>  
      </ion-list-header> 
      <ion-item *ngFor="let data of dailyData.mostSold" (click)="loadCompany(data.ticker)">
          <ion-row>
            <ion-col left>{{data.ticker}}</ion-col>
            <ion-col center>{{data.close}}</ion-col>
            <ion-col right>{{data.change}}%</ion-col>
          </ion-row> 
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'active'">
      <ion-list-header mode="ios">
        <ion-row>
          <ion-col left>Ticker</ion-col>
          <ion-col center>Close</ion-col>
          <ion-col right>Change</ion-col>
        </ion-row>  
      </ion-list-header>
      <ion-item *ngFor="let data of dailyData.mostTraded" (click)="loadCompany(data.ticker)">
          <ion-row>
            <ion-col left>{{data.ticker}}</ion-col>
            <ion-col center>{{data.close}}</ion-col>
            <ion-col right>{{data.change}}%</ion-col>
          </ion-row>   
      </ion-item>
    </ion-list>

  </div>
</ion-content>