<ion-header>
    <ion-navbar>
      <ion-title>
        Commentary
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <ion-item-group>
        <ion-item-divider color="primary">Daily Updates</ion-item-divider>
        <ion-list>
          <ion-item *ngFor="let article of articles.updates" (click)="showArticle(article)">
              {{article.title}}
          </ion-item>
        </ion-list>
        <ion-item-divider color="primary">Stock Highlights</ion-item-divider>
        <ion-list>
          <ion-item *ngFor="let article of articles.highlights" (click)="showArticle(article)">
              {{article.title}}
          </ion-item>
        </ion-list>
    </ion-item-group>
  </ion-content>
  