<ion-header>
    <ion-navbar>
      <ion-title>
        Commentary
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="goToProfile()">
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>

    <div padding>
        <ion-segment mode="ios" [(ngModel)]="type">
            <ion-segment-button value="topics"> Topics </ion-segment-button>
            <ion-segment-button value="recent"> Recent </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="type" (swipe)="swipeEvent($event)">
        <div *ngSwitchCase="'topics'">
            <ion-item-group>
                <ion-item-divider color="primary">Stock Market Today
                    <button ion-button clear color="light" icon-end item-end>
                        More
                        <ion-icon name='arrow-dropright'></ion-icon>
                    </button>
                </ion-item-divider>
                <ion-list>
                    <ion-item *ngFor="let article of articles.updates" (click)="showArticle(article)">
                        {{article.title}}
                        <ion-note item-end>{{article.author}}</ion-note>
                    </ion-item>
                </ion-list>
                <ion-item-divider color="primary">Stock Highlights
                    <button ion-button clear color="light" icon-end item-end>
                        More
                        <ion-icon name='arrow-dropright'></ion-icon>
                    </button>
                </ion-item-divider>
                <ion-list>
                    <ion-item *ngFor="let article of articles.highlights" (click)="showArticle(article)">
                        {{article.title}}
                    </ion-item>
                </ion-list>
                <ion-item-divider color="primary">Market and Economy
                    <button ion-button clear color="light" icon-end item-end>
                        More
                        <ion-icon name='arrow-dropright'></ion-icon>
                    </button>
                </ion-item-divider>
                <ion-list>
                    <ion-item *ngFor="let article of articles.marketAndEconomy" (click)="showArticle(article)">
                        {{article.title}}
                    </ion-item>
                </ion-list>
            </ion-item-group>
        </div>
        <div *ngSwitchCase="'recent'">
            <ion-list>
                <ion-item *ngFor="let article of articles.recent" (click)="showArticle(article)">
                    <ion-thumbnail item-start>
                        <img *ngIf="article.avatar" src="{{article.avatar}}" alt="">
                    </ion-thumbnail>
                    <h2>{{article.title}}</h2>
                    <p>{{article.category}}</p>
                    <p class="author">{{article.author}}</p>
                    <ion-note item-end>{{article.timeSince}}</ion-note>
                </ion-item>
            </ion-list>
        </div>
    </div>

    
  </ion-content>
  