market-movement-section {
    .range-wp {
        padding: 0px;
    }

    .market-movement {
        .col {
            padding: 0px;
        }
    }

    .red {
        color: #f53d3d;
    }

    .green {
        color: #32db64;
    }
     
}