<ion-header>
  <ion-navbar>
    <ion-title>App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <h2 *ngIf="user.first">Welcome {{ user.first }}!</h2>
  <button ion-button menuToggle>WatchList</button>
  <div [hidden]="!company.ticker">
      <intro-section></intro-section>
      <health-section></health-section>
      <value-section></value-section>
      <performance-section></performance-section>
      <management-section></management-section>
      <dividend-section></dividend-section>
  </div>

  <div [hidden]="company.ticker">
    <ion-item-group>
        <ion-item-divider color="light">Daily Updates</ion-item-divider>
        <ion-list>
          <ion-item *ngFor="let article of articles.updates" (click)="showArticle(article)">
              {{article.title}}
          </ion-item>
        </ion-list>
        <ion-item-divider color="light">Stock Highlights</ion-item-divider>
        <ion-list>
          <ion-item *ngFor="let article of articles.highlights" (click)="showArticle(article)">
              {{article.title}}
          </ion-item>
        </ion-list>
    </ion-item-group>
      
  </div>
</ion-content>