<ion-header>
  <ion-navbar>
    <ion-title>App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <h2 *ngIf="user.first">Welcome {{ user.first }}!</h2>
  <button ion-button menuToggle>WatchList</button>
  
  <ion-item-group>
      <ion-item-divider color="light">Most Bought</ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let data of dailyData.mostBought">
            <ion-row>
                <ion-col left>{{data.ticker}}</ion-col>
                <ion-col center>{{data.open}}</ion-col>
                <ion-col right>{{data.close}}</ion-col>
              </ion-row> 
        </ion-item>
      </ion-list>
      <ion-item-divider color="light">Most Sold</ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let data of dailyData.mostSold">
            <ion-row>
                <ion-col left>{{data.ticker}}</ion-col>
                <ion-col center>{{data.open}}</ion-col>
                <ion-col right>{{data.close}}</ion-col>
              </ion-row> 
        </ion-item>
      </ion-list>
      <ion-item-divider color="light">Most Traded</ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let data of dailyData.mostTraded">
            <ion-row>
              <ion-col left>{{data.ticker}}</ion-col>
              <ion-col center>{{data.open}}</ion-col>
              <ion-col right>{{data.close}}</ion-col>
            </ion-row>   
        </ion-item>
      </ion-list>
  </ion-item-group>
</ion-content>