<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
            <!-- <ion-title></ion-title> -->
            <ion-searchbar (ionInput)="getSearchItems($event)"></ion-searchbar>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <!-- <ion-searchbar (ionInput)="getSearchItems($event)"></ion-searchbar> -->
        <ion-item-group>
            <div *ngIf="searchItems[0]">
                    <ion-item-divider color="primary">Results</ion-item-divider>
                    <ion-item *ngFor="let item of searchItems" (click)="loadCompany(item.ticker)">
                        ({{ item.ticker }}) {{ item.name }}
                    </ion-item>
            </div>
            <div *ngIf="!searchItems[0]">
                <ion-item-divider color="primary">{{sideMenu.title}}</ion-item-divider>
                <ion-list>
                    <ion-item menuClose *ngFor="let item of sideMenu.items" (click)="item.onclick(item.name)">
                        {{item.name}}
                    </ion-item>
                </ion-list>
            </div>
        </ion-item-group>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
