industry-section {
    .industry .col{
        padding: 0 5px;
    }

    .industry .item-inner {
        height: 45px;
    }

    .red {
        color: #f53d3d;
    }

    .green {
        color: #32db64;
    }
}