<ion-header>
    <ion-navbar>
        <ion-title>
            Industry Details
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="isReady" class="industry" padding>
        <ion-list no-lines>
            <ion-list-header  mode="ios">
            Industry
            </ion-list-header>
            <ion-item *ngFor="let industry of industries" align-items-center>
                <ion-row align-items-center>
                    <ion-col>
                        <ion-icon name="{{industry.icon}}" item-start></ion-icon>
                        {{industry.name}}   
                    </ion-col>
                    <ion-col align="right">
                        <span class="{{industry.color}}">
                            {{industry.change}}%
                        </span>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
